.section1{

    background: url(../images/01/products.png) no-repeat center,
                url(../images/01/bg.png) no-repeat center bottom;
}
.section1 .sofa{

    position: absolute;
    left:50%;
    margin-left: -160px;
    bottom: 350px;
    animation:shake .8s infinite alternate;
}

.section1 .ball{
    position: absolute;
    left:50%;
    margin-left: 130px;
    top:80px;
    animation: shake 1.2s infinite alternate;
}


@keyframes shake{

    from{

    }
    to{

        transform: translateY(-60px);
    }
}